@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.button {
  height: 2.5rem;
  background-color: $brainflix-blue;
  width: 100%;
  padding: 0px;
  border-radius: 0.25rem;
  border-style: none;
  display: flex;
  align-items: center;

  @include tablet {
    min-width: 8.75rem;
    width: 8.75rem;
  }

  &__icon {
    @include labelsbuttons;
    align-self: center;
    justify-self: flex-start;
    padding-left: 0.625rem;
    @include tablet {
      padding-left: 0.625rem;
    }
  }

  &__text {
    @include sectionheader;
    color: $white;
    display: inline-block;
    align-self: center;

    @include tablet {
      padding-left: 15%;
    }

    &--upload {
      @extend .button__text;
      position: absolute;
      left: 40%;
      @include tablet {
        position: initial;
      }
    }

    &--comment {
      @extend .button__text;
      position: absolute;
      left: 50%;
      @include tablet {
        position: initial;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
