@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.comments__entry {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  @include desktop {
    margin-right: 1rem;
  }

  &__information {
    width: 100%;
    margin-left: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__name {
    @include subheader;
  }

  &__date {
    @include bodycopy;
    color: $silver;
  }

  &__comment {
    margin-top: 1rem;
  }
}
