@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
.profilepicture {
  min-width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.563rem;
  background-color: $mercury;

  &--user {
    min-width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.563rem;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    background-size: cover;
  }
}
