@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;
.profilepicture {
  min-width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $mercury;

  &--user {
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    background-size: cover;
  }
}
