@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.upload {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &--upper {
      @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    &__divider {
      display: flex;
      flex-direction: column;
      &--inputs {
        @extend .upload__form__divider;
        width: 100%;
        margin: 0;
        @include desktop {
          margin-left: 2rem;
        }
      }
    }

    &--title {
      @include pageheader;
    }
    &--label {
      @include sectionheader;
      margin: 1rem 0;
      color: $silver;
    }

    &--input {
      min-height: 2.688rem;
      border-style: solid;
      border-width: 0.063rem;
      border-radius: 0.25rem;
      border-color: $mercury;
      background-color: $alabaster;
      &::placeholder {
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
        @include bodycopy;
        color: $brainflix-darkblack;

        @include tablet {
          justify-content: center;
          vertical-align: middle;
        }
      }
    }

    &--textarea {
      min-height: 4.688rem;
      padding: 0.125rem;
      width: 98%;
      border-style: solid;
      border-width: 0.063rem;
      border-radius: 0.25rem;
      border-color: $mercury;
      background-color: $alabaster;
      margin-bottom: 1rem;
      vertical-align: top;

      @include tablet {
        width: 99%;
        min-height: 2.5rem;
        height: 2.5rem;
      }

      &::placeholder {
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
        @include bodycopy;
        color: $brainflix-darkblack;

        @include tablet {
          justify-content: center;
          vertical-align: middle;
        }
      }

      &:focus {
        outline-color: $brainflix-blue;
      }
    }
    &--thumbnail {
      max-height: fit-content;
      border-radius: 4px;
      @include tablet {
        max-height: 300px;
        max-width: 400px;
      }
      @include desktop {
        max-height: 300px;
      }
    }
  }
  &__break {
    color: $mercury;
    stroke-width: 0.063rem;
    width: auto;
    border-style: solid;
    margin: 1rem 0;
    @include desktop {
      margin-right: 0;
    }
    &--secondary {
      @extend .upload__break;
      display: none;

      @include tablet {
        display: initial;
      }
    }
  }
  &__bottom {
    display: flex;
    min-height: 7rem;
    max-height: 7rem;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__cancel {
    @include sectionheader;
    color: $brainflix-blue;
    text-align: center;
    @include tablet {
      margin-right: 2rem;
    }
  }
}
