@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/colors" as *;

* {
  font-family: "AvenirNextLTPro";
  margin: 0;
}

li {
  list-style: none;
}

.next-video {
  margin-top: 16px;
  &__item {
    margin: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  &__thumbnails {
    width: 100px;
    height: 100px;
  }
}
