@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/colors" as *;

* {
  font-family: "AvenirNextLTPro";
  margin: 0;
}

li {
  list-style: none;
}

.profilepicture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: $mercury;

  &--user {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: url("./assets/images/Mohan-muruge.jpg");
    background-size: cover;
  }
}

.next-video {
  margin-top: 16px;
  &__item {
    margin: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  &__thumbnails {
    width: 100px;
    height: 100px;
  }
}
