.video {
  &__player {
    width: 400px;
    height: 300px;
  }
}

.profilepicture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: grey;

  &--user {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-image: url("./assets/images/Mohan-muruge.jpg");
    background-size: cover;
  }
}

.next-video {
  &__thumbnails {
    width: 100px;
    height: 100px;
  }
}
